/* author : Bryce Meizen */
/* today : 6 / 14 / 2021 */

.container {
    text-align: center;
    justify-content: center;
}

p {
    
    text-align: center; 
    font-size: 24px;
}

.card {
    background-color: 




#20CC82;
    width: 4in;
    height: 4in;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}